@charset "utf-8";
/* CSS Document */
@import url("https://use.typekit.net/znq5qbq.css");

html {
	font-size: 62.5%;/*16px×62.5%=10px*/
}

body {
	font-family: futura-pt, futura-pt-bold,'Noto Sans JP','Noto Sans','Noto Sans Japanese', 'Arial','メイリオ', 'Meiryo','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
	color: #343f2e;
	font-size: 1.6rem;
	width: 100rem;
	background-color: #fff;
	margin: 0 auto;
}

h1 {
	font-size: 6.4rem;
	font-weight: bold;
}

h2 {
	font-size: 4.6rem;
	font-weight: bold;
}

p {
	font-size: 2.2rem;
	line-height: 1.5;
}

small {
	font-size: 1.6rem;
}

img {
	max-width: 100%;
	height: auto;
}

section, div, header, footer {
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.text-all-center {
	display: flex;
  justify-content: center;
  align-items: center;
}


.inner {
	width: 900px;
	margin: auto;
}

/*-----------------------------
 *
 * header
 *
-----------------------------*/

.header {
	height: 114px;
	background-color: #e1cfcf;
}

.header img {
	width: 43%;
}

/*-----------------------------
 *
 * main
 *
-----------------------------*/

.main {
	background: linear-gradient(#f2d9b1, #d7ab9f);
}

/*-----------------------------
 *
 * eyecatch
 *
-----------------------------*/

.eyecatch__image {
	margin-bottom: 20px;
}

/*-----------------------------
 *
 * message
 *
-----------------------------*/

.message {
	margin-bottom: 34px;
}

.message__text {
	display: inline-block;
}

.message__text span {
	color: #da220f;
	font-weight: 700;
}

.message__text span:first-of-type{
	font-weight: 500;
}

/*-----------------------------
 *
 * items
 *
-----------------------------*/

/* items__title */

.items__title {
	padding: 0 150px;
	margin-bottom: 42px;
}

.items__title-box {
	padding: 13px 0;
	border-top: 6px solid #da220f;
	border-bottom: 6px solid #da220f;
}

.items__title-text {
	color: #da220f;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

/* items__link */


.items__link {
	padding: 0 100px;
	margin-bottom: 50px;
}

.items__link-box {
	padding: 16px 0;
	background-color: #eb5a09;
	box-shadow: 5px 5px 0px 0 rgb(109, 89, 81);
	position:relative;
}

.items__link-text {
	color: #e6dfcb;
	display: block;
	font-size: 4.8rem;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.items__link::after {
   content: "";
   display: block;
   width: 880px;
   height: 1px;
   background-color: #938787;
   position: absolute;
   bottom: -1491px;
   left: 55px;
}

/* items__main-item */

.main-item {
	background-image: url("../images/section/items/SN004.png");
	background-position: 19% 69.5%;
	background-size: 153% auto;
	height: 500px;
	overflow: hidden;
}

.item-percent__bg {
	background-color: rgba(255, 255, 255, 0.75);
	height: 400px;
	width: 400px;
	border-radius: 50%;
	position: absolute;
	top: -120px;
	left: -80px;
	overflow: hidden;
}

.item-percent__bg p {
	color: #c79b30;
	font-size: 7.2rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 0.85;
	position: absolute;
	top: 160px;
	left: 120px;
}


/* items__items-box */

.items-box {
  display: flex;
  flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 32px;
}

.items-box__item {
	border: 2px solid #fff;
	display: block;
	width: 32%;
}

.items-box__item:first-of-type {
	width: 100%;
	margin-bottom: 14px;
}

/* flexbox */

.item-discount {
	background-color: rgba(255, 255, 255, 0.35);
	height: 86px;
}

.item-discount-first {
	height: 370px;
	position: relative;
}

.item-discount p {
	color: #c79b30;
	font-size: 4.0rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.item-percent {
	color: #da220f;
	font-size: 6.0rem;
	font-weight: bold;
}

.main-item .item-percent {
	font-size: 12.0rem;
}

.items-box__item img {
	height: 182px;
}

.item-detail-text {
	padding: 12px 0;
}

.item-detail {
	background-color: rgba(255, 255, 255, 0.35);
	height: 130px;
}

.main-item .item-detail {
	background-color: rgba(255, 255, 255, 0.75);
	position: relative;
	padding-top: 10px;
}

.item-name {
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: bold;
}

.main-item .item-name {
	font-size: 3.2rem;
}

.item-price {
	font-family: 'Noto Sans JP','Noto Sans', sans-serif;
}

.main-item .item-price {
	position: absolute;
	bottom: 3px;
	left: 225px;
}

.item-price-before {
	font-size: 2.4rem;
	font-weight: bold;
	text-decoration: line-through;
}

.main-item .item-price-before {
	font-size: 4.8rem;
}

.item-price-after {
	display: inline-block;
	color: #da220f;
	font-size: 3.2rem;
	font-weight: bold;
}

.main-item .item-price-after {
	font-size: 6.0rem;
}

.item-price-after:first-letter {
	font-size: 2.2rem;
}

.main-item .item-price-after:first-letter {
	font-size: 4.0rem;
}


/*-----------------------------
 *
 * link
 *
-----------------------------*/

.link {
	padding: 64px 0 56px;
}

.link-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 35%;
}

.link-box__item {
	display: block;
}

/*-----------------------------
 *
 * footer
 *
-----------------------------*/

.footer {
	font-family: 'Meiryo UI', 'メイリオ', sans-serif;
	background-color: #938787;
	padding: 28px 180px 10px 180px;
}

.footer p, .footer a {
	color: #fff;
	font-size: 2.0rem;
	line-height: 1.6;
	margin-bottom: 24px;
}
